body{
    background-color: #6B7A8F;
}
nav {
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
    color: black;
    font-family: "Courier New";
}
.nav-links {
    color: midnightblue;
}
#words {
    display: flex;
    flex-direction: column;
}
.module-container {
    background-color: #474747;
    border-radius: 10px;
    width: 95vw;
    height: fit-content;
    padding: .5em .5em;
    margin: 20px 5px;
    box-shadow: #3f3f3f 5px 5px;
}
.project-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 42vw;
    height: fit-content;
    padding: .8em .8em;
    margin: 20px 5px;
    border-radius: 10px;
    align-items: center;
    background-color: #1b1b1b;
    border: 0;
}
.project-container > img {
    width: 41vw;
    border-radius: 10px;
}
h1 {
    font-family: "Courier New";
    color: floralwhite;
    text-shadow: midnightblue 1px 1px;
    font-size: xx-large;
}
p {
    font-family: "Courier New";
    font-weight: bold;
    color: #dcd8d8;
    text-shadow: midnightblue .04rem .04rem;
    font-size: large;
}
.project-container:hover {
    border: white 5px solid;
}
